header{
	text-align: center;
	font-family: 'Cormorant SC', serif;
	font-size: 80px;
	font-weight: bold;
	color: black;
	opacity: 0.6;
}

body{
	background-image: url("../images/got.jpg");
	background-repeat: none;
}

#main {
	position: relative;
	top: 25px;
	right: 75px;
	height: 400px;
	width: 800px;
}

#main:hover {
	opacity: 0.2;
}

button:hover {
	box-shadow: 3px 3px 2px black;
}

